﻿@model rate.it.web.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Eval(CodeCamp2012) - Log yourself in"</title>
    <link href="content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/content/site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>

<body>
    <header>
        <<span style="display: none;"> </span>%# Login("CodeCamp2012") %>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="logout" href='@Url.Action("logout", "login", null)'>logout</a>
        }
    </header>
    <div id="wrapper">
        <div id="content">
            @using (Html.BeginForm())
            { 
                <div class="login">
	                <fieldset>
		                <legend>Come on in</legend>
		                <div class="">
			                <input type="text" id="Username" name="Username" placeholder="Username" />
		                </div>

		                <div class="">
			                <input type="password" id="Password" name="Password" placeholder="Password" />
		                </div>
	                    
                        <button id="submit">Let me in</button>
                    </fieldset>
                </div>
            }
        </div>
     </div>
</body>
</html>
