﻿@{
    ViewBag.Title = "Eval(CodeCamp2012) - Closing Raffle";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/content/site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery-ui-1.8.16.min.js")"></script>
    <script src="@Url.Content("~/scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.tmpl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/knockout-1.3.0beta.js")" type="text/javascript"></script>
</head>

<body>
    <header><<span style="display: none;"> </span>%# Eval("CodeCamp2012") %></header>
    <div id="wrapper">
        <div id="content">
            <div class="raffle">RAFFLE</div>
            <div class="winner" data-bind="text: winnerName"></div>
            <form data-bind="submit: nextWinner">
                <button class="lucky">I'm Feeling Lucky</button>
            </form>

            <script type="text/javascript">
                var viewModel = {
                    // Data
                    winnerName: ko.observable(),

                    // Behaviours
                    setWinner: function (name) {
                        this.winnerName(name);
                    },

                    nextWinner: function () {
                        var raffle = $("div.raffle");
                        $(raffle).html("WINNER");

                        $.get("/raffle/selectwinner", function (response) {
                            if (response.length) {
                                viewModel.setWinner(response);

                                //flashlight
                                $(raffle).effect("pulsate", { times: 2 }, 1000);

                            }
                        });
                    }
                };

                window.winnerModel = viewModel;
                ko.applyBindings(viewModel);
            </script>
        </div>
     </div>
</body>
</html>