﻿@{
    ViewBag.Title = "Eval(CodeCamp2012) - Your feedback matters!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="scroll">
    <div class="overall-thx" data-bind="template: { name: 'thxTemplate' }"></div>


    <div class="overall-form">
        <h1>So, what are you thinknig about Codecamp?</h1>
        <!-- overall form -->
        <form data-bind="submit: submitOverall, visible: selectedType() == 'overall', template: { name: 'overallFormTemplate'}"></form>
    </div>


    <div class="index">
        <h1>Welcome to CodeCamp2012</h1>
        <!-- Types -->
        <ul>
            <li data-bind="click: function() { rateViewModel.selectType('overall') }" class="organization">Organization</li>
            <li data-bind="click: function() { rateViewModel.selectType('presentation') }" class="presentation">Presentation</li>
        </ul>
    </div>


    <div class="tracks">
        <h1>Tracks.Where(i => i.Attended).First()</h1>
        <!-- Tracks -->
        <ul class="" data-bind="template: { name: 'tracksTemplate', foreach: tracks }"></ul>
    </div>


    <div class="sessions">
        <h1>Sessions.Where(s => s.Track == "<span data-bind="text: selectedTrack"></span>" && s.Attended).First()</h1>
        <!-- Sessions -->
        <ul data-bind="template: { name: 'sessionsTemplate', foreach: trackSessions }"></ul>
    </div>

    <div class="session-form">
        <div class="details" data-bind="template: { name: 'detailsTemplate', data: selectedSession }"></div>
        <!-- session-form -->
        <form data-bind="submit: submitEvaluation, visible: selectedSession, template: { name: 'formTemplate'}"></form>
    </div>


    <div class="thx" data-bind="template: { name: 'thxTemplate' }"></div>
</div>

<!-- Templates -->
<script type="text/html" id="tracksTemplate">
<li data-bind="click: function() { rateViewModel.selectTrack($data) }" class="${$data}"></li>
</script>

<script type="text/html" id="sessionsTemplate">
    <li data-bind="click: function() { rateViewModel.selectSession(Id) }">
	    <div class="number">${Id}</div>
	    <div class="info">
		    <span class="title">${Title}</span>
			<span class="description"><strong>${From} - ${To}</strong> by ${Speaker}</span>
	    </div>
    </li>
</script>

<script type="text/html" id="thxTemplate">
<div class="message">
    <p>Dear <span data-bind="text: userName"></span></p> 
    <p>thank you for your valuable feedback!</p>
    <button type="button" class="backb" data-bind="click: resetView">Back To Start();</button>
</div>
</script>

<script type="text/html" id="detailsTemplate">
	<img src="${SpeakerImg}" alt="${Speaker}" />
    <div class="description">
		<h2>${Title}</h2>
		<span>${From} - ${To} by ${Speaker}</span>
		<p>${Abstract}</p>
	</div>
</script>
<script type="text/html" id="formTemplate">
<fieldset class="group">
    <legend>Speaker evaluation</legend>
    <div>
		<input type="radio" id="s_1" name="speaker" value="1" /><label for="s_1">Poor</label>
		<input type="radio" id="s_2" name="speaker" value="2" /><label for="s_2">Fair</label>
		<input type="radio" id="s_3" name="speaker" value="3" checked="checked" /><label for="s_3">Average</label>
		<input type="radio" id="s_4" name="speaker" value="4" /><label for="s_4">Good</label>
		<input type="radio" id="s_5" name="speaker" value="5" /><label for="s_5">Excelent</label>
	</div>
</fieldset>
<fieldset class="group last">
    <legend>Presentation evaluation</legend>
    <div>
		<input type="radio" id="p_1" name="presentation" value="1" /><label for="p_1">Poor</label>
		<input type="radio" id="p_2" name="presentation" value="2" /><label for="p_2">Fair</label>
		<input type="radio" id="p_3" name="presentation" value="3" checked="checked" /><label for="p_3">Average</label>
		<input type="radio" id="p_4" name="presentation" value="4" /><label for="p_4">Good</label>
		<input type="radio" id="p_5" name="presentation" value="5" /><label for="p_5">Excelent</label>
	</div>
</fieldset>
<fieldset class="text float">
    <legend>Got something to add?</legend>
    <textarea id="comment" name="comment" placeholder="Your comment here"></textarea>
</fieldset>
<fieldset class="text second">
    <legend>Your Event Brite ID</legend>
    <div>
		<label for="name">Event Brite ID</label>
        <input type="text" id="eventbriteid" name="eventbriteid" placeholder="Event Brite ID" />
	</div>
</fieldset>
<fieldset class="text">
    <legend>Your Information</legend>
    <div>
		<label for="name">Your Name</label>
        <input type="text" id="name" name="name" placeholder="Your Name" />
	</div>
    <div class="last">
		<label for="email">Your Email</label>
        <input type="text" id="email" name="email" placeholder="Your Email" />
	</div>
</fieldset>
<button id="submit" data-bind="attr: { class: selectedTrack }">Submit your evaluation</button>
        
<img alt="loading..." src="content/images/1x1.gif" data-bind="visible: showAjaxLoader" />
</script>

<script type="text/html" id="overallFormTemplate">
<fieldset class="group">
    <legend>Do you like the event</legend>
    <div>
		<input type="radio" id="l_1" name="like" value="1" /><label for="l_1">No</label>
		<input type="radio" id="l_2" name="like" value="2" /><label for="l_2">Well...</label>
		<input type="radio" id="l_3" name="like" value="3" checked="checked" /><label for="l_3">Mhm</label>
		<input type="radio" id="l_4" name="like" value="4" /><label for="l_4">Yes</label>
		<input type="radio" id="l_5" name="like" value="5" /><label for="l_5">Just love it.</label>
	</div>
</fieldset>
<fieldset class="group last">
    <legend>Reception</legend>
    <div>
		<input type="radio" id="r_1" name="reception" value="1" /><label for="r_1">Poor</label>
		<input type="radio" id="r_2" name="reception" value="2" /><label for="r_2">Fair</label>
		<input type="radio" id="r_3" name="reception" value="3" checked="checked" /><label for="r_3">Average</label>
		<input type="radio" id="r_4" name="reception" value="4" /><label for="r_4">Good</label>
		<input type="radio" id="r_5" name="reception" value="5" /><label for="r_5">Excelent</label>
	</div>
</fieldset>
<fieldset class="group">
    <legend>Venue</legend>
    <div>
		<input type="radio" id="v_1" name="venue" value="1" /><label for="v_1">Poor</label>
		<input type="radio" id="v_2" name="venue" value="2" /><label for="v_2">Fair</label>
		<input type="radio" id="v_3" name="venue" value="3" checked="checked" /><label for="v_3">Average</label>
		<input type="radio" id="v_4" name="venue" value="4" /><label for="v_4">Good</label>
		<input type="radio" id="v_5" name="venue" value="5" /><label for="v_5">Excelent</label>
	</div>
</fieldset>
<fieldset class="group last">
    <legend>Refreshments and coffee breaks</legend>
    <div>
		<input type="radio" id="ref_1" name="refreshment" value="1" /><label for="ref_1">Poor</label>
		<input type="radio" id="ref_2" name="refreshment" value="2" /><label for="ref_2">Fair</label>
		<input type="radio" id="ref_3" name="refreshment" value="3" checked="checked" /><label for="ref_3">Average</label>
		<input type="radio" id="ref_4" name="refreshment" value="4" /><label for="ref_4">Good</label>
		<input type="radio" id="ref_5" name="refreshment" value="5" /><label for="ref_5">Excelent</label>
	</div>
</fieldset>
<fieldset class="group">
    <legend>Lunch</legend>
    <div>
		<input type="radio" id="lun_1" name="lunch" value="1" /><label for="lun_1">Poor</label>
		<input type="radio" id="lun_2" name="lunch" value="2" /><label for="lun_2">Fair</label>
		<input type="radio" id="lun_3" name="lunch" value="3" checked="checked" /><label for="lun_3">Average</label>
		<input type="radio" id="lun_4" name="lunch" value="4" /><label for="lun_4">Good</label>
		<input type="radio" id="lun_5" name="lunch" value="5" /><label for="lun_5">Excelent</label>
	</div>
</fieldset>
<fieldset class="text second">
    <legend>Your Event Brite ID</legend>
    <div>
        <input type="text" id="eventbriteid" name="eventbriteid" placeholder="Event Brite ID" />
	</div>
</fieldset>
<fieldset class="text">
    <legend>Got something to add?</legend>
    <textarea id="comment" name="comment" placeholder="Any suggestions, remarks, or simply describe your experience..."></textarea>
</fieldset>
<fieldset class="text">
    <legend>Your Information</legend>
    <div>
		<label for="name">Your Name</label>
        <input type="text" id="name" name="name" placeholder="Your Name" />
	</div>
    <div class="last">
		<label for="email">Your Email</label>
        <input type="text" id="email" name="email" placeholder="Your Email" />
	</div>
</fieldset>
<button id="submit" class="overall">Submit your evaluation</button>
<img alt="loading..." src="content/images/1x1.gif" data-bind="visible: showAjaxLoader" />
</script>

<script src="@Url.Content("~/Scripts/rate.it.js")" type="text/javascript"></script>