﻿@{
    ViewBag.Title = "Eval(CodeCamp2012) - Your feedback matters!";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
<div data-role="page" id="tracks">
    <div data-role="header">
		<h1>Eval("CodeCamp2012")</h1>
	</div>
    <div data-role="content">
        <h4>Tracks.Where(i => i.Attended).First()</h4>
        <br/>
        <!-- Tracks -->
        <ul class="tracks" data-bind="template: { name: 'tracksTemplate', foreach: tracks }" data-role="listview"></ul>
        <script type="text/html" id="tracksTemplate">
            <li data-bind="click: function() { rateViewModel.selectTrack($data) }" class="${$data}">
            <a href="#sessions" data-transition="slide" class="${$data}">${$data} track</a>
            </li>
        </script>    
    </div>
    <div data-role="footer" data-theme="d">
		<h5>CodeCamp 2012, &copy; mkdot.net</h5>
	</div>
</div>

<div data-role="page" id="sessions">
    <div data-role="header">
		<a data-rel="back" data-iconpos="notext" data-icon="back">Back</a>
		<h1>Eval("CodeCamp2012")</h1>
        <a href="#tracks" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
	</div>
    <div data-role="content">
        <h4>Sessions.Where(s => s.Track == "<span data-bind="text: selectedTrack"></span>" && s.Attended).First()</h4>
        <br/>
        <!-- Sessions -->
        <ul class="sessions" data-bind="template: { name: 'sessionsTemplate', foreach: trackSessions }, refreshListView: trackSessions" data-role="listview"></ul>
        <script type="text/html" id="sessionsTemplate">
            <li data-bind="click: function() { rateViewModel.selectSession(Id) }">
                <a href="#form" data-transition="slide">
                    <h3>${Id}. ${Title}</h3>
					<p><strong>${From} - ${To}</strong></p>
					<p><strong>${Speaker}</strong></p>
					
                </a>
            </li>
        </script>    
    </div>
    <div data-role="footer" data-theme="d">
		<h5>CodeCamp 2012, &copy; mkdot.net</h5>
	</div>
</div>

<div data-role="page" id="form">
    <div data-role="header">
		<a data-rel="back" data-iconpos="notext" data-icon="back">Back</a>
		<h1>Eval("CodeCamp2012")</h1>
        <a href="#tracks" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
	</div>
    <div data-role="content">
         <div class="details" data-bind="template: { name: 'detailsTemplate', data: selectedSession }"></div>
    
        <form action="#thx" data-bind="submit: submitEvaluation, visible: selectedSession">
			<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
				<li data-role="list-divider">Evaluation</li>	
				<li data-role="fieldcontain">
					<label for="slider_0">Speaker evaluation: <span>Average</span></label>
					<input type="range" name="speaker" id="slider_0" min="1" max="5" value="3" onchange="updateRatingText($(this))"/>
				</li>
				<li data-role="fieldcontain">
					<label for="slider_1">Presentation evaluation: <span>Average</span></label>
					<input type="range" name="presentation" id="slider_1" min="1" max="5" value="3" onchange="updateRatingText($(this))"/>
				</li>
				<li data-role="list-divider">Comments</li>
				<li data-role="fieldcontain">
					<label for="comment">Got something to add?</label>
					<textarea id="comment" name="comment" placeholder="Your comment here"></textarea>
				</li>
				<li data-role="list-divider">Your information</li>
			
				<li data-role="fieldcontain">
					<label for="name">EventBrite ID</label>
					<input type="text" id="eventbriteid" name="eventbriteid" placeholder="Your EventBrite ID" />
				</li>
			
				<li data-role="fieldcontain">
					<label for="name">Your Name</label>
					<input type="text" id="name" name="name" placeholder="Your Name" />
				</li>
			
				<li data-role="fieldcontain">
						<label for="email">Your Email</label>
						<input type="email" id="email" name="email" placeholder="Your Email" />
				</li>
			</ul>
			<button id="submit">Submit your evaluation</button>
        </form>
        <script type="text/html" id="detailsTemplate">
	        <h4>${Title}</h4>
		    <span>${From} - ${To} by ${Speaker}</span>
        </script>
    </div>
    <div data-role="footer" data-theme="d">
		<h5>CodeCamp 2012, &copy; mkdot.net</h5>
	</div>
</div>

<div data-role="page" id="thx">
    <div data-role="header">
		<h1>Eval("CodeCamp2012")</h1>
	</div>
    <div data-role="content">
         <div class="message">
            <p>Dear <span data-bind="text: userName"></span></p> 
            <p>thank you for your valuable feedback!</p>
            <a href="#tracks" data-bind="click: resetView" data-transition="flip" data-role="button" data-theme="b" data-icon="arrow-l" data-inline="true">Back To Start</a>
        </div>
    </div>
    <div data-role="footer" data-theme="d">
		<h5>CodeCamp 2012, &copy; mkdot.net</h5>
	</div>
</div>

@*<script type="text/javascript">
    $(document).bind("pagebeforechange", function (e, data) {

        // We only want to handle changePage() calls where the caller is
        // asking us to load a page by URL.
        if (typeof data.toPage === "string") {

            // We are being asked to load a page by URL, but we only
            // want to handle URLs that request the data for a specific
            // category.
            var u = $.mobile.path.parseUrl(data.toPage),
			re = /^/;

            if (u.hash.search(re) !== -1) {
                // Make sure to tell changePage() we've handled this call so it doesn't
                // have to do anything.
                e.preventDefault();
            }
        }
    });
</script>*@
