﻿@{
    ViewBag.Title = "Eval(CodeCamp2012) - Evaluation statistics!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="scroll" class="report">
    
    <div class="overall-form">
        <!-- overall report-->
        <div class="reports" data-bind="template: { name: 'overallReport', data: overallData }"></div>
    </div>


    <div class="index">
        <h1>CodeCamp2012 feedback reports</h1>
        <!-- Types -->
        <ul>
            <li data-bind="click: function() { reportViewModel.selectType('overall') }" class="organization">Organization Report</li>
            <li data-bind="click: function() { reportViewModel.selectType('presentation') }" class="presentation">Presentation Reports</li>
        </ul>
    </div>


    <div class="tracks">
        <h1>Tracks.Where(i => i.Presented).First()</h1>
        <!-- Tracks -->
        <ul class="" data-bind="template: { name: 'tracksTemplate', foreach: tracks }"></ul>
    </div>


    <div class="sessions">
        <h1>Sessions.Where(s => s.Track == "<span data-bind="text: selectedTrack"></span>" && s.Presented)</h1>
        <!-- Sessions -->
        <ul data-bind="template: { name: 'sessionsTemplate', foreach: trackSessions }"></ul>
    </div>

    <div class="session-form reports">
        <div class="details" data-bind="template: { name: 'detailsTemplate', data: selectedSession }"></div>
        <!-- session-form -->
        <div data-bind="template: { name: 'sessionReport', data: presentationData }"></div>
    </div>
</div>

<!-- Templates -->
<script type="text/html" id="tracksTemplate">
<li data-bind="click: function() { reportViewModel.selectTrack($data) }" class="${$data}"></li>
</script>

<script type="text/html" id="sessionsTemplate">
    <li data-bind="click: function() { reportViewModel.selectSession(Id) }">
	    <div class="number">${Id}</div>
	    <div class="info">
		    <span class="title">${Title}</span>
			<span class="description"><strong>${From} - ${To}</strong> by ${Speaker}</span>
	    </div>
    </li>
</script>

<script type="text/html" id="detailsTemplate">
	<img src="${SpeakerImg}" alt="${Speaker}" />
    <div class="description">
		<h2>${Title}</h2>
		<span>${From} - ${To} by ${Speaker}</span>
	</div>
</script>

<script type="text/html" id="overallReport">
    <table summary="Overview of ovarall feedback for CodeCamp organization.">
        <thead>
            <tr>
                <th class="corner">Stats</th><th title="Value op 1">Poor</th>
                <th title="Value of 2">Fair</th><th title="Value of 3">Average</th>
                <th title="Value of 4">Good</th><th title="Value of 5">Excelent</th><th>Overall</th>
            </tr>
        </thead>
        <tbody>
            <tr data-bind="template: { name: 'reportRow', data: Like }"></tr>
            <tr data-bind="template: { name: 'reportRow', data: Reception }"></tr>
            <tr data-bind="template: { name: 'reportRow', data: Venue }"></tr>
            <tr data-bind="template: { name: 'reportRow', data: Refreshments }"></tr>
            <tr data-bind="template: { name: 'reportRow', data: Lunch }"></tr>
        </tbody>
    </table>    
    <span class="comment">Comments</span>
    <div class="messages" data-bind="template: {name: 'comments', foreach: Comments}"></div>
</script>

<script type="text/html" id="sessionReport">
   <table summary="Presentation feedback." style="margin:-20px auto 0;">
        <thead>
            <tr>
                <th class="corner">Stats</th><th title="Value op 1">Poor</th>
                <th title="Value of 2">Fair</th><th title="Value of 3">Average</th>
                <th title="Value of 4">Good</th><th title="Value of 5">Excelent</th><th>Overall</th>
            </tr>
        </thead>
        <tbody>
            <tr data-bind="template: { name: 'reportRow', data: Speaker }"></tr>
            <tr data-bind="template: { name: 'reportRow', data: Presentation }"></tr>
        </tbody>
    </table>    
    <span class="comment">Comments</span>
    <div class="messages session" data-bind="template: {name: 'comments', foreach: Comments}"></div>
</script>

<script type="text/html" id="reportRow">
	<th class="head">${Name}</th><td title="${Poor} of ${Total}">${Poor}</td>
    <td title="${Fair} of ${Total}">${Fair}</td><td title="${Average} of ${Total}">${Average}</td>
    <td title="${Good} of ${Total}">${Good}</td><td title="${Excelent} of ${Total}">${Excelent}</td><td class="impact">${Overall}</td>
</script>

<script type="text/html" id="comments">
	<p>${Message}<br />{{if Name.length }}<span>by ${Name}</span>{{/if}}</p>
</script>

<script src="@Url.Content("~/Scripts/rate.it.reports.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/highcharts.js")" type="text/javascript"></script>