﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Eval(CodeCamp2012) - Ups, something unplanned happened"</title>
    <link href="content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/content/site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>

<body>
    <header><<span style="display: none;"> </span>%# Eval("CodeCamp2012") %></header>
    <div id="wrapper">
        <div id="content">
            <div class="error">
                <h2>Damn</h2>

                <h3>It seems like something unexpected happened.</h3>
                <p>
                    Sorry about that. The error information is stored and we are going to fix it as soon as possible.<br />
                </p>
                <p style="font-size: 110%;">
                    Now get back to <a href="/">Start</a> and continue with your evaluation!
                </p>
            </div>
        </div>
     </div>
</body>
</html>
