﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/content/site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.tmpl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/knockout-1.3.0beta.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.address.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/knockout.address.js")" type="text/javascript"></script>
</head>

<body>
    <header><<span style="display: none;"> </span>%# Eval("CodeCamp2012") %></header>
    <div id="wrapper">
        <div class="back" data-bind="visible: showBack, click: function() { history.back(-1) }">&lt;</div>
        <div class="next" data-bind="visible: showNext, click: function() { history.back(-1) }">&gt;</div>
   
        <div id="content">
            @RenderBody()
        </div>
     </div>
</body>
</html>
