﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/site.mobile.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/jquery.mobile-1.0.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/jquery.mobile.structure-1.0.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.mobile-1.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.tmpl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/knockout-1.3.0beta.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/scripts/jquery.address.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/knockout.address.js")" type="text/javascript"></script>*@
</head>
<body>
    @RenderBody()

    <script src="@Url.Content("~/scripts/rate.it.mobile.js")" type="text/javascript"></script>
</body>
</html>
