﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/Content/site.admin.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>
<body>
    <header>
        <<span style="display: none;"> </span>%# Admin("CodeCamp2012") %>
        <a class="logout" href='@Url.Action("logout", "login", null)'>logout</a>
    </header>
    <div id="wrapper">   
        <div id="content">
            @RenderBody()
        </div>
     </div>
</body>
</html>

