﻿@model rate.it.web.Models.EvaluationSummary
@{
    ViewBag.Title = "Evaluation";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Evaluation for: <br/>
[@ViewBag.Session.Track] @ViewBag.Session.Position. @ViewBag.Session.Title - @ViewBag.Session.Speaker
</h2>

Number of evaluations: @Model.NumberOfEvaluations
<br/>
<br/>
<br/>
Speaker:
<hr/>
Min rating: @Model.MinSpeakerRating <br/>
Max rating: @Model.MaxSpeakerRating <br/>
Average: @Model.AverageSpeakerRating <br/>
<hr/>
<br/>
Presentation:
<hr/>
Min rating: @Model.MinPresentationRating <br/>
Max rating: @Model.MaxPresentationRating <br/>
Average: @Model.AveragePresentationRating <br/>
<hr/>
