﻿@model List<string>
@{
    ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="admin">
    <fieldset>
        <legend>Edit Tracks</legend>
        <ul class="tracks">
			@foreach (string info in Model) { 
				<li class="@info">@Html.ActionLink("edit sessions", "sessions", new { id = info })</li>
			}
		</ul>
        <br />
        @Html.ActionLink("view all sessions", "sessions", null, new { @class="all" })  
    </fieldset>

    <fieldset>
        <legend>Manage Raffle</legend>
        @using (Html.BeginForm("getattendeeList", "admin"))
        { 
            <button type="submit" onclick="javascript:return confirm('Get Latest checked in attendee list from Event Brite?')">Get Attendees</button>
        }
        <br />
        <p>@ViewBag.Attendees attendees loaded from event brite.</p>
        <br />
        
        @using (Html.BeginForm("geteligibleList", "admin"))
        {
            <button type="submit" onclick="javascript:return confirm('Calculate eligible attendees list?')">Calculate Eligibles</button>
        }
        <br />
        <p>@ViewBag.Eligibles attendees eligible for raffle.</p>
    </fieldset>

    <fieldset>
        <legend>Data Cleanup</legend>
        @using (Html.BeginForm("clearevaluations", "admin"))
        {
            <span>@ViewBag.Evaluations Evaluations</span>
            <button type="submit" onclick="javascript:return confirm('Are you sure that you want to clear all evaluations? There is no undo...')">Clear Evaluations</button>
        }

        <br />
    
        @using (Html.BeginForm("clearoveralls", "admin"))
        {
            <span>@ViewBag.Overalls Overalls</span>
            <button type="submit" onclick="javascript:return confirm('Are you sure that you want to clear overall evaluations? There is no undo...')">Clear Overalls</button>
        }
        
        <br />
    
        @using (Html.BeginForm("clearwinners", "admin"))
        {
            <span>@ViewBag.Winners Winners</span>
            <button type="submit" onclick="javascript:return confirm('Are you sure that you want to clear winners list? There is no undo...')">Clear Winners</button>
        }
    </fieldset>
</div>
