﻿@model List<rate.it.web.Models.Session>

@{
    ViewBag.Title = "Sessions";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="sessions">
	<h1>Sessions</h1>

	@Html.ActionLink("new session", "session", null, new { @class="all"})

	<ul class="sessions">
	@for (int index = 0; index < Model.Count; index++)
	{ 
         <li>
            <a href="/admin/session/@Model[index].Id" class="@Model[index].Track">
	            <div class="number">@(index+1)</div>
	            <div class="info">
		            <span class="title">@Model[index].Title</span>
			        <span class="description"><strong>@Model[index].From - @Model[index].To</strong> by @Model[index].Speaker</span>
	            </div>
            </a>
            @Html.ActionLink("delete track", "deletesession", new { id = Model[index].Id }, new { @class = "delete", @onclick = "javascript:return confirm('Are you realy, realy sure?')" })
        </li>
    }
	</ul>
</div>
