﻿@using rate.it.web.Models
@model Session
@{
	ViewBag.Title = "Session editor";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) { 
<div id="session">
	<h1>Session editor</h1>
	
	@Html.HiddenFor(Model => Model.Id)

	<fieldset>
		<legend>
			Session information
		</legend>
		<div class="editor">
			<div class="label">
				@Html.LabelFor(Model => Model.Title)
				@Html.ValidationMessageFor(Model => Model.Title)
			</div>
			<div class="field">
				@Html.EditorFor(Model => Model.Title)
			</div>
		</div>

		<div class="editor">
			<div class="label">
				@Html.LabelFor(Model => Model.Abstract)
				@Html.ValidationMessageFor(Model => Model.Abstract)
			</div>
			<div class="field">
				@Html.EditorFor(Model => Model.Abstract)
			</div>
		</div>
	</fieldset>

    <fieldset>
		<legend>
			Speaker information
		</legend>
		<div class="editor">
			<div class="label">
				@Html.LabelFor(Model => Model.Speaker)
				@Html.ValidationMessageFor(Model => Model.Speaker)
			</div>
			<div class="field">
				@Html.EditorFor(Model => Model.Speaker)
			</div>
		</div>

		<div class="editor">
			<div class="label">
				@Html.LabelFor(Model => Model.SpeakerImg)
				@Html.ValidationMessageFor(Model => Model.SpeakerImg)
			</div>
			<div class="field">
				@Html.EditorFor(Model => Model.SpeakerImg)
			</div>
		</div>
	</fieldset>

    <fieldset>
		<legend>
			Track information
		</legend>
		<div class="editor">
			<div class="label">
				@Html.LabelFor(Model => Model.From)
				@Html.ValidationMessageFor(Model => Model.From)
			</div>
			<div class="field">
				@Html.EditorFor(Model => Model.From)
			</div>
		</div>

		<div class="editor">
			<div class="label">
				@Html.LabelFor(Model => Model.To)
				@Html.ValidationMessageFor(Model => Model.To)
			</div>
			<div class="field">
				@Html.EditorFor(Model => Model.To)
			</div>
		</div>

        <div class="editor">
			<div class="label">
				@Html.LabelFor(Model => Model.Track)
				@Html.ValidationMessageFor(Model => Model.Track)
			</div>
			<div class="field">
				@Html.EditorFor(Model => Model.Track)
			</div>
		</div>

        <div class="editor">
			<div class="label">
				@Html.LabelFor(Model => Model.Position)
				@Html.ValidationMessageFor(Model => Model.Position)
			</div>
			<div class="field">
				@Html.EditorFor(Model => Model.Position)
			</div>
		</div>
	</fieldset>
    <br />
	<button type="submit">Submit Session</button>
</div>
}