﻿body {font-size: .85em;font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;color: #232323;
      background-color: #fff;background: url("/content/images/bg.jpg");}
header, footer, section {display: block;}
nav { display: inline;}
header {width: 800px;margin: 25px auto;font-size: 40px;color: #fff;font-weight: bold;text-align: center;text-shadow: 0 -1px 1px #000;}
h1 {margin: 0;font-size: 24px;color: #999;text-align: center;}
ul { padding: 0;margin: 0;list-style: none;float: left;}
ul li { cursor: pointer;}
#wrapper { margin: auto;position: relative;width: 800px;}
#content {background: #fff; width: 760px;margin: auto;border-radius: 8px;box-shadow: inset 0 0 8px #555;
          padding: 20px;overflow: hidden;}
a.logout {background: #fff;border-radius: 5px;box-shadow: 0 0 5px #ccc inset;color: #528cc8;float: right;font-size: 20px;padding: 5px 10px;}

#admin fieldset {float: left;margin: 10px 20px;padding: 10px 15px;text-align: center;width: 175px;border: 1px solid #999;border-radius: 4px;}
#admin legend, #session legend { color: #555;font-weight: bold;font-size: 14px;padding: 5px;}
button {background: url("images/button.png") repeat-x scroll 0 0 #528CC8;border-bottom: 1px solid rgba(0, 0, 0, 0.25); 
        border-radius: 5px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);color: #fff; cursor: pointer; display: inline-block; 
        font-size: 13px; font-weight: bold; padding: 7px 15px;float: left; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); 
        border: none;width: 170px;}
#admin form button { margin: 10px 0 15px;}
ul.tracks { display: block; padding-left: 0px; }
ul.tracks li { display: block; margin-bottom: 10px; }
ul.tracks li a, a.all {box-shadow: 0 0 4px #ccc;display: block;padding: 5px 15px;text-decoration: none; border: 1px solid #ccc;width: 140px;text-align: center; }
a.all { float: left;}

ul.tracks li.red a { background: #f55; color: #fff;}
ul.tracks li.green a { background: #9c5; color: #333;}
ul.tracks li.yellow a { background: #ff9; color: #333;}
ul.tracks li.blue a { background: #528CC8 ; color: #fff;}
ul.tracks li.student a { background: #636 ; color: #fff;}

ul.sessions { display: block; padding-left: 0px; list-style: none; margin-bottom: 0; }
ul.sessions a, ul.sessions a:link, ul.sessions a:visited, ul.sessions a:active, ul.sessions a:hover { text-decoration:none; }

/* Sessions */
div#sessions ul {display: block;width: 760px;margin: 20px 0 0 0;}
div#sessions li {display: block; float: left;font-size: 16px;margin-bottom: 20px;clear: left;}
div#sessions li .number {float: left; width: 40px; height: 40px;padding: 19px;line-height: 40px; text-align: center;
                         font-size: 24px;background: #ddeff6; border: 1px solid #c0deed; font-weight: bold;
                         color: #444;border-radius: 3px;}
div#sessions li .info {float: left; width: 635px; height: 60px;margin-left: 20px;padding: 9px; font-size: 20px;
                       border: 1px solid #ccc;border-radius: 3px;}
div#sessions li .title {display: block;font-weight: bold;height: 2em;line-height: 1em;}
div#sessions li .description {font-size: 16px;font-weight: bold;}
div#sessions li:hover .info {background: #f2f2f2;}
div#sessions li:hover .number {background: #d3e3eb;}

div#sessions a.blue {color: #528cc8;}
div#sessions a.red {color: #f50;}
div#sessions a.green {color: #9c5;}
div#sessions a.yellow {color: #555;text-shadow: 0 0 4px yellow;}
div#sessions a.student {color: #636;}



div#sessions a.delete {border-radius: 3px; color: #f00;float: right;margin-right: 5px;margin-top: -28px;padding: 3px 5px;}
div#sessions a.delete:hover {background: #f50;color: #fff;}

p.subtitle {margin-top: 5px;}
p.subtitle span {color: #395;font-weight: bold;}
.session-information {margin-top: 10px;}

#session input {border: 1px solid #ccc;padding: 5px;}
#session input:focus {background-color: #ffffe0;box-shadow: 0 0 4px #ccc;}

.editor {float: left; width: 365px; margin-top: 10px;}
.editor .label {margin-bottom: 5px;}
.editor .field .text-box {width: 330px;}
.editor .field label {margin-right: 20px;}