/* General */

/* Tracks */
             
.tracks li.red, button#submit.red {background-color: #f55;}
.tracks li.blue, button#submit.blue {background-color: #528CC8;}
.tracks li.yellow, button#submit.yellow {background-color: #ff9;color: #333 !important;}
.tracks li.green, button#submit.green {background-color: #99CC54;}
.tracks li.purple, button#submit.purple {background-color: #888;}

/* Sessions */
div.sessions ul {display: block;width: 760px;margin: 20px 0 0 0;padding: 0;list-style: none;float: left;}
div.sessions li {display: block; float: left;font-size: 16px;margin-bottom: 20px;clear: left;}
div.sessions li .number {float: left; width: 40px; height: 40px;padding: 19px;line-height: 40px; text-align: center;
                         font-size: 24px;background: #ddeff6; border: 1px solid #c0deed; font-weight: bold;
                         color: #444;border-radius: 3px;}
div.sessions li .info {float: left; width: 635px; height: 60px;margin-left: 20px;padding: 9px; font-size: 20px;
                       border: 1px solid #ccc;border-radius: 3px;}
div.sessions li .title {display: block;font-weight: bold;height: 2em;line-height: 1em;}
div.sessions li .description {font-size: 16px;}
div.sessions li:hover .info {background: #f2f2f2;}
div.sessions li:hover .number {background: #d3e3eb;}

/* Session details */
div.details img {float: left; width: 100px; border-radius: 5px;margin-top: 20px;}
div.details .description {float: left;margin-left: 20px;width: 640px;}
div.details h2 {color: #999;}
div.details span {font-size: 12px;color: #333;}
div.details p {font-size: 14px; width: 640px;height: 90px;overflow: hidden;margin: 10px 0 0 0;}

/* Evaluation form */
/*form {float: left;max-width: 760px;margin-top: 30px;}*/
legend {font-size:1.2em; font-weight: bold; color: #555; }
fieldset {border:1px solid #ddd; padding:10px 14px; margin:0 0 10px 0;border-radius: 3px;}
input[type="text"]:focus, textarea:focus {background: #ffffe0;}
fieldset.text div {float: left;width: 350px;}
fieldset.text label {float: left;width: 350px;margin-bottom: 5px;clear: left;}
fieldset.text input {float: left;width: 340px;padding: 5px;border: 1px solid #ccc;}
fieldset.text textarea {float: left;width: 710px;height: 50px;padding: 5px;border: 1px solid #ccc;}

fieldset.group {float: left;width: 337px;}
fieldset.group label {margin-right: 5px;}
fieldset.group.last, fieldset.text div.last {margin-left: 25px;}

button {background: url("images/button.png") repeat-x scroll 0 0 #222;border-bottom: 1px solid rgba(0, 0, 0, 0.25); 
        border-radius: 5px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);color: #fff; cursor: pointer; display: inline-block; 
        font-size: 13px; font-weight: bold; padding: 7px 15px;float: left; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); 
        border: none;}

/* Thank you  */
div.thx .message {font-size: 30px;margin: 100px 50px;text-align: center;}
div.thx span {font-weight: bold;}
button.back {background-color: #333; float: none;}

/* Experimental */
.selelct {-moz-transform: rotate(-90deg);color: #999999;font-size: 160px;font-weight: bold;left: -116px;
          opacity: 0.1;position: absolute;top: 290px;z-index: 1;}
.track {-moz-transform: rotate(90deg);color: #999;font-size: 160px;font-weight: bold;right: -90px;
        opacity: 0.1;position: absolute;top: 290px;z-index: 1;}
        
.ui-content { overflow-x: auto !important;overflow-y: auto!important;}
input.ui-slider-input { display: none !important; }
li.ui-field-contain div.ui-slider { width: 98% !important;margin: 5px 1% 5px 1% !important; }
label span { font-weight: bold;}

.ui-header h1 { background-image: url(/Content/images/CodeCampSmall.png);background-position: center center;background-repeat: no-repeat;font-size: 0px !important;height: 40px !important;min-width: 174px !important;margin-left: auto !important;margin-right: auto !important; }