/* General */
body {font-size: .85em;font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;color: #232323;
      background-color: #fff;background: url("/content/images/bg.jpg");}
header, footer, section {display: block;}
nav { display: inline;}
header {width: 800px;margin: 25px auto;font-size: 40px;color: #fff;font-weight: bold;text-align: center;text-shadow: 0 -1px 1px #000;}
a.logout {background: #fff;border-radius: 5px;box-shadow: 0 0 5px #ccc inset;color: #528cc8;float: right;font-size: 20px;padding: 5px 10px;}
h1 {margin: 0;font-size: 24px;color: #999;text-align: center;}
ul { padding: 0;margin: 0;list-style: none;float: left;}
ul li { cursor: pointer;}
#wrapper { margin: auto;position: relative;width: 800px;}
#content {background: #fff; width: 760px;height: 530px;margin: auto;border-radius: 8px;box-shadow: inset 0 0 8px #555;
          padding: 20px;overflow: hidden;}
#scroll {float: left; width: 5600px; margin-left: -1620px;}

div.overall-thx, div.overall-form, div.index, div.tracks, div.sessions, div.session-form, div.thx {float: left;width: 760px;height: 530px;margin: 0 20px;}


/* Index */
div.index ul { margin: 20px;}
div.index li { float: left; width: 330px;height: 460px;font-size: 40px;font-weight: bold;border-radius: 5px;
               text-align: center;line-height: 450px;text-shadow: 0 -1px 1px #555;color: #fff;box-shadow: 0px 0px 4px #555;}
div.index li.presentation { margin-left: 50px;}
div.index li.organization {}

/* Tracks */
div.tracks ul {margin: 20px 0 0 0px;}
.tracks li {display: block; float: left;width: 718px;height: 40px;font-size: 20px;
            border-radius: 5px;padding: 20px;margin-bottom: 18px;clear: left;opacity: 0.9;box-shadow: 0px 0px 3px #555;}
             
.tracks li.red, button#submit.red, li.organization {background-color: #f55;}
.tracks li.blue, button#submit.blue, li.presentation {background-color: #528CC8;}
.tracks li.yellow {background-color: #ff9;color: #333 !important;}
button#submit.yellow {color: #ff9 !important;}
.tracks li.green, button#submit.green {background-color: #99CC54;}
.tracks li.purple, button#submit.purple {background-color: #636;}
.tracks li:hover {opacity: 1;}

/* Sessions */
div.sessions ul {display: block;width: 760px;margin: 20px 0 0 0;}
div.sessions li {display: block; float: left;font-size: 16px;margin-bottom: 20px;clear: left;}
div.sessions li .number {float: left; width: 40px; height: 40px;padding: 19px;line-height: 40px; text-align: center;
                         font-size: 24px;background: #ddeff6; border: 1px solid #c0deed; font-weight: bold;
                         color: #444;border-radius: 3px;}
div.sessions li .info {float: left; width: 635px; height: 60px;margin-left: 20px;padding: 9px; font-size: 20px;
                       border: 1px solid #ccc;border-radius: 3px;}
div.sessions li .title {display: block;font-weight: bold;height: 2em;line-height: 1em;}
div.sessions li .description {font-size: 16px;font-weight: bold;}
div.sessions li:hover .info {background: #f2f2f2;}
div.sessions li:hover .number {background: #d3e3eb;}

/* Session details */
div.details img {float: left; width: 100px; border-radius: 5px;margin-top: 20px;}
div.details .description {float: left;margin-left: 20px;width: 640px;}
div.details h2 {margin: 5px 0;color: #999;height: 50px;}
div.details span {font-size: 12px;color: #333;}
div.details p {font-size: 14px; width: 640px;height: 90px;overflow: hidden;margin: 10px 0 0 0;}

/* Evaluation forms */
form {float: left;width: 760px;margin-top: 30px;}
legend {font-size:1.2em; font-weight: bold; color: #555; }
fieldset {border:1px solid #ddd; padding:10px 14px; margin:0 0 10px 0;border-radius: 3px;}
input[type="text"]:focus, textarea:focus {background: #ffffe0;}
fieldset.text div {float: left;width: 350px;}
fieldset.text label {float: left;width: 350px;margin-bottom: 5px;clear: left;}
fieldset.text input {float: left;width: 340px;padding: 5px;border: 1px solid #ccc;}
fieldset.text textarea {float: left;width: 325px;height: 50px;padding: 5px;border: 1px solid #ccc;}
fieldset.text.second { margin-left: 25px;height: 82px;}

fieldset.text.second, fieldset.float { float: left;}
fieldset.text.second div {width: 338px;}
fieldset.text.second input { width: 325px;}

.overall-form fieldset.text.second {height: 42px;}
.overall-form .second div {margin-top: -5px;}
.overall-form fieldset.text textarea {width: 717px;}

fieldset.group {float: left;width: 337px;}
fieldset.group label {margin-right: 5px;}
fieldset.group.last, fieldset.text div.last {margin-left: 25px;}

form img {width: 31px;height: 31px;background-image: url("images/ajax_loader.gif"); margin-left: 20px;float: left;}
button {background: url("images/button.png") repeat-x scroll 0 0 #222;border-bottom: 1px solid rgba(0, 0, 0, 0.25); 
        border-radius: 5px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);color: #fff; cursor: pointer; display: inline-block; 
        font-size: 13px; font-weight: bold; padding: 7px 15px;float: left; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); 
        border: none;}

/* Thank you  */
div.overall-thx .message, div.thx .message {font-size: 30px;margin: 100px 50px;text-align: center;}
div.overall-thx span, div.thx span {font-weight: bold;}

button.backb {background-color: #333; float: none;}

/* Navigation */
.back, .next {background: url("/content/images/bg.jpg");color: #fff;text-shadow: 0 -1px 1px #000;font-size: 40px;font-weight: bold;
              position: absolute;top: 20px;border-radius: 5px;box-shadow: 4px 2px 2px #aaa;;padding: 5px 15px;
              height: 30px;line-height: 27px;padding: 5px 10px 5px 5px;cursor: pointer;}
.back {left: -5px;}
.next {right: -5px;box-shadow: -4px 2px 2px #aaa;}


/* Login */
.login {width: 250px;margin: 100px auto;}
.login input {border: 1px solid #ccc;padding: 8px;margin: 15px 0;width: 200px;}
.login input:focus {background-color: #ffffe0;}
.login button {background-color: #528CC8; margin: 15px 0;}


/* 404 */
.error {width: 400px;margin: 100px auto;padding: 25px;border-radius: 5px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);background-color: #efefef;}
.error h2 {text-transform: uppercase;color: #f60;border-bottom: 1px solid #ccc;margin: 0;padding-bottom: 10px;}
.error a, .error a:visited {color: #f60;}

/* Raffle */
div.raffle {color: #ff8c00;font-size: 200px;font-weight: bold;left: 30px;top: -20px;position: absolute;opacity: 0.4;}
div.winner {color: #333;float: left;font-size: 80px;font-weight: bold;margin-top: 190px;text-align: center;width: 760px;}
button.lucky {background-color: #528CC8;bottom: 50px;font-size: 30px;font-weight: bold;height: 80px;
              left: 250px;position: absolute;width: 300px;}
              
              
/* Reporting */
div.reports table {clear: both;border-spacing: 0;margin: 10px auto;}
div.reports table thead {background: #eee;box-shadow: 1px 1px 1px #ccc;}
div.reports table tbody {box-shadow: 1px 1px 2px #ccc;}

div.reports table td, div.reports table th {border-bottom: 1px solid #D7D6D6;border-right: 1px solid #E1E1E1;
    border-top: 1px solid #FFF;color: #5C5C5C;font-size: 14px;height: 20px;padding: 9px 15px;text-align: left;text-shadow: 0 1px 0 #FFF;}

div.reports tbody tr:nth-of-type(odd) { background-color: #efefef;}
div.reports tbody tr:nth-of-type(even) { background-color: #fefefe;}
div.reports tbody tr:hover { background-color: #bceaff;}


div.reports thead th { background-color: #efefef;border-top: 1px solid #ccc;}
div.reports .corner { background-color: #fff;border-top: 1px solid #fff;}
div.reports .impact {color: #f60;font-weight: bold;font-size: 18px;text-align: center;padding: 6px 15px;border-right: 1px solid #ccc;}
div.reports table tr.impact:nth-of-type(odd) { background-color: #efefef;}
div.reports table tr.impact:nth-of-type(even) { background-color: #fefefe;}

div.reports th.head { text-align: right;border-left: 1px solid #ccc;}

div.reports .messages {border: 1px solid #ccc; border-radius: 5px;box-shadow: 0 0 10px #999 inset;float: left;height: 230px;
                       overflow-x: hidden;padding: 5px 10px;width: 740px;}
div.reports .messages.session {height: 250px;}
div.messages p {background: #528CC8;border: 1px solid #eee; border-radius: 5px;color: #fff;float: left;
                margin: 0 0 10px;padding: 5px 10px;width: 700px;}
div.messages p span {background: #f55; float: right; padding: 2px 5px; display: block; margin: 0pt -10px -5px 0pt; border-radius: 0px 0px 5px 0px;}
div.reports .details { float: left;}

div.reports .description {}
div.reports h2 { height: auto;}
div.reports span.comment {font-size: 14px; font-weight: bold; margin-bottom: 10px;display: block; color: rgb(80, 80, 80);}

